<ion-header>
  <ion-navbar  color="primary">
    <ion-title><ion-icon *ngIf="online.currentSession" name="cloud"></ion-icon>Dice & Paper</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <dice-profile [profile]="profile"></dice-profile>
  
  
  
  <button ion-button block color="secondary" (click)="roll(true)">Roll</button>
 <!--  <p>Motion testing : {{motionD}}</p>-->
  
  <br><br><br><br>
  <div *ngIf="online.history && online.history.length">
  <h2>Latest online result</h2>
  <dice-profile  size="75" [profile]="online.history[online.history.length-1]"></dice-profile>
  </div>
  <ion-fab top right edge>
    <button ion-fab mini color="secondary" (click)="openHistory()"><ion-icon name="clock"></ion-icon></button>
  </ion-fab>
 
</ion-content>
